---
layout: layout.njk
templateClass: tmpl-blog
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="page-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- set nextBlog = collections.blogs | getNextCollectionItem(page) %}
{%- set previousBlog = collections.blogs | getPreviousCollectionItem(page) %}
{%- if nextBlog or previousBlog %}
<hr>
<ul>
  {%- if nextBlog %}<li>Next: <a href="{{ nextBlog.url | url }}">{{ nextBlog.data.title }}</a></li>{% endif %}
  {%- if previousBlog %}<li>Previous: <a href="{{ previousBlog.url | url }}">{{ previousBlog.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
