<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Kellegram" />
        <meta name="description" content="Here I will post my thoughts in the form of blogs, as well as my setup guides, to make my life easier and possibly yours. Linux, Windows, anything goes.">
        <!-- Capture cc -->
        {% set css %}
            {% include "src/styles/main.css" %}
            {% include "src/styles/prism.css" %}
        {% endset %}
        <!-- Minify it -->
        <style>
            {{ css | cssmin | safe }}
        </style>
        <link rel="shortcut icon" type="image/png" href="/assets/icons/favicon.png"/>
        <title>{{title}}</title>
    </head>

    <body>
        <div class="container">
            <!-- Flexbox for the whole page -->
            <div class="page">
                <!-- Create the page header bar -->
                <header>
                    <h1><a href="/index.html">KELLEGRAM'S LAIR</a></h1>
                    <p>My personal guides.</p>
                </header>

                <!-- Create the 2 rows that the main page is split into -->
                <div class="row">
                    <div class="side">
                        <nav>
                            <a href="/index.html">Home</a>
                            <a href="/blogs/index.html">Blogs</a>
                            <a href="/guides/index.html">Guides</a>
                            <a href="/about/index.html">About me</a>
                        </nav>
                        <div class="socials">
                            <!-- socials -->
                            <a href="https://discord.gg/DvFH3Dy"><img src="/assets/icons/discord-fill.svg"
                                    alt="Link to our discord" style="width:42px;height:42px;"></a>
                            <a href="https://twitter.com/Kellegramxyz"><img src="/assets/icons/twitter-fill.svg"
                                    alt="Link to my twitter" style="width:42px;height:42px;"></a>
                            <a href="https://github.com/Kellegram"><img src="/assets/icons/github-fill.svg"
                                    alt="Link to my github" style="width:42px;height:42px;"></a>
                        </div>
                    </div>
                    <main>
                        <aside>
                            {{ content | toc | safe }}
                        </aside>
                        <hr>
                        {{content | safe}}
                    </main>
                </div>
            </div>
        </div>
    </body>

</html>