<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
    </head>
    <style>
    body { 
        background-color: #ffffff;
        foreground-color: #FF9C00;
    }
    </style>
    <body>
        <h1>{{ pageTitle }}</h1>

        {{ content }}
    </body>
</html>