<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
        <style>
            body { 
                background-color: #FFFFFF;
                color: orange;
            }
        </style>
    </head>
    <body>
        <h1>{{ pageTitle }}</h1>

        {{ content }}
    </body>
</html>
