<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Kellegram"/>
        <link href="/styles/main.css" rel="stylesheet">
        <link href="/styles/fonts.css" rel="stylesheet">
        <title>Kellegram dev</title>
    </head>
    <body>
        <!-- Create the page header bar -->
        <div class="header">
            <h1>KELLEGRAM'S LAIR</h1>
            <p>My personal collection of thoughts.</p>
        </div> 

        <!-- Create the 2 rows that the main page is split into -->
        <div class="row">
            <div class="side">Sidebar content will go here
            
             <a class="socials" href="https://discord.gg/DvFH3Dy"><img src="/assets/icons/discord-fill.svg" alt="Link to our discord" style="width:42px;height:42px;"></a> 
             <a class="socials" href="https://twitter.com/Kellegramxyz"><img src="/assets/icons/twitter-fill.svg" alt="Link to my twitter" style="width:42px;height:42px;"></a> 
             <a class="socials" href="https://github.com/Kellegram"><img src="/assets/icons/github-fill.svg" alt="Link to my github" style="width:42px;height:42px;"></a> 
            </div>




            <div class="main">
            {{content}}
            </div>
        </div>


        <div class="footer">

        </div> 

    </body>
</html>
