<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Kellegram"/>
        <link href="styles/main.css" rel="stylesheet">
        <title>Kellegram dev</title>
    </head>
    <body>
<<<<<<< HEAD
        /* Create the page header bar */
=======
        <!-- Create the page header bar -->
>>>>>>> 8f6af9b044cd41d51877d710bcd390ef8c0ad2e0
        <div class="header">
            <h1>My Website</h1>
            <p>A website created by me.</p>
        </div> 
<<<<<<< HEAD

        /* Create the navbar */
        <div class="navbar">
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#" class="right">Link</a>
        </div>

        /* Create the 2 rows that the main page is split into */
        <div class="row">
            <div class="side">...</div>
            <div class="main">...</div>
        </div>


        <div class="footer">
            <h2>Footer</h2>
        </div> 
        
=======

        <!-- Create the navbar -->
        <div class="navbar">
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#" class="right">Link</a>
        </div>

        <!-- Create the 2 rows that the main page is split into -->
        <div class="row">
            <div class="side">...</div>
            <div class="main">...</div>
        </div>


        <div class="footer">
            <h2>Footer</h2>
        </div> 

>>>>>>> 8f6af9b044cd41d51877d710bcd390ef8c0ad2e0
    </body>
</html>
