@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/orkney/Orkney-Regular.ttf');
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/manrope/Manrope_variable.ttf');
}

body {
      font-family: 'Manrope', Fallback, system-ui;
      font-size: 18px;
      font-weight: 600;
}