@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/orkney/Orkney-Regular.ttf');
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/manrope/Manrope-Regular.ttf');
}

body {
      font-family: 'Manrope', Fallback, system-ui;
}