@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/orkney/Orkney-Regular.ttf');
}

@font-face {
  font-family: 'Comic';
  src: url('assets/fonts/Comic_sans.ttf')
}

body {
      font-family: 'Comic', Fallback, system-ui;
}