
/* standard theme*/
:root{

    /* Default */
    --default-text: orange;
    --default-accent: #FF6347;
    --default-empty-fill: #242424;
    --default-mainpage:#383838;
    --default-header:#242424;
    --default-sidebar:#444;

}

body {
    background-color: var(--default-header);
    color: var(--default-text);
    margin: 0;
    padding: 0;
}


h1 {
    color: var(--default-text);
    text-align: center;
}

 header {
  padding: 80px;
  text-align: center;
  background:var(--default-header);
  color: var(--default-accent); 
}

#page {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 15%; 
  background-color: var(--default-sidebar); 
  color: var(--default-accent);
  padding: 20px; 
  overflow: auto;
}

/* Sidebar links */
nav a {
  display: block;
  color: var(--default-accent); ;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
nav a:hover {
  background-color: #555;
  color: white;
}
.socials{
  padding:  8px;

}


.socials img{
  display: inline;
}

/* Main column */
.main {
  flex: 85%; 
  background-color: var(--default-mainpage); 
  padding: 20px;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

    .side a {float: left;}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {

  .side a {
    text-align: center;
    float: none;
  }

  header {
    padding: 15px;
    
  }
}