
/* standard theme*/
:root{
  /* General coloring */
  --bg-color: #242424;
  --text-color: orange;
  --accent-color: #FF6347;
  --empty-fill-color:#242424; /* Fill the empty space so it's not white */
  
  /* Main column colors*/
  --mainpage-bg-color: #383838;

  /* Header colors */
  --header-bg-color: #242424;

  /* Sidebar colors */
    --sidebar-bg-color: #444;
}

/* High contrast theme */


html {
    background-color: var(--empty-fill-color);
    color: var(--text-color);
}


h1 {
    color: var(--text-color);
    text-align: center;
}

 header {
  padding: 80px;
  text-align: center;
  background:var(--header-bg-color);
  color: var(--accent-color); 
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 15%; 
  background-color: var(--sidebar-bg-color); 
  color: var(--accent-color);
  padding: 20px; 
  overflow: auto;
}

/* Sidebar links */
.side a {
  display: block;
  color: var(--accent-color); ;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.side a:hover {
  background-color: #555;
  color: white;
}

.socials {
  display: inline;
}

/* Main column */
.main {
  flex: 85%; 
  background-color: var(--mainpage-bg-color); 
  padding: 20px;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

    .side a {float: left;}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {

  .side a {
    text-align: center;
    float: none;
  }

  header {
    padding: 15px;
    
  }
}