---
layout: layout.njk
title: Come and read a blog or two!
---

# My personal blogs


{% set bloglist = collections.blogs | head(-3) %}
{% set bloglistCounter = collections.blogs | length %}
{% include "bloglist.njk" %}